<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.member.repository.MemberMybatisRepository">

    <insert id="save" parameterType="com.beyond.member.domain.Member">
        insert into member(name, email, password) values(#{name}, #{email}, #{password});
    </insert>

    <select id="findAll" resultType="com.beyond.member.domain.Member">
        select * from member;
    </select>

    <select id="findById" parameterType="java.lang.Long" resultType="com.beyond.member.domain.Member">
        select * from member where id = #{id};
    </select>

    <select id="findByEmail" parameterType="java.lang.String" resultType="com.beyond.member.domain.Member">
        select * from member where email = #{email};
    </select>

    <delete id="delete">
        delete from member where id = #{id};
    </delete>

</mapper>
